<h1>Editing Roast</h1>

<%= form_for @roast do |f| %>
	<%= f.label :name, "Roast" %>
	<%= f.text_field :name, placeholder: "#{@roast.name}" %></br>
	<%= f.label :origin, "Origin" %>
	<%= f.text_field :origin, placeholder: "#{@roast.origin}" %></br>
	<%= f.label :tasting_notes, "Tasting Notes" %>
	<%= f.text_area :tasting_notes, placeholder: "#{@roast.tasting_notes}" %></br>
	<%= f.label :prep, "Suggested Preparation Method" %>
	<%= f.text_field :prep, placeholder: "#{@roast.prep}" %></br>
	<%= f.label :price, "Price" %>
	<%= f.text_field :price, placeholder: "#{@roast.price}" %></br>

	</br>
	<%= f.button("Update Roast") %>

<% end %>