<h1>Editing Roast</h1>

<%= form_for @roast do |f| %>
	<%= f.label :name, "Roast" %>
	<%= f.text_field :name, placeholder: "#{@roast.name}" %></br>
	<%= f.label :origin, "Origin" %>
	<%= f.text_field :origin, placeholder: "#{@roast.origin}" %></br>
	<%= f.label :tasting_notes, "Tasting Notes" %>
	<%= f.text_area :tasting_notes, placeholder: "#{@roast.tasting_notes}" %></br>
	<%= f.label :preparation_method, "Suggested Preparation Method" %>
	<%= f.text_field :preparation_method, placeholder: "#{@roast.preparation_method}" %></br>
	<%= f.label :roasted_date, "Roasted Date" %>
	<%= f.date_select :roasted_date %></br>
	<%= f.label :price, "Price" %>
	<%= f.text_field :price, placeholder: "#{@roast.price}" %></br>

	</br>
	<%= f.button("Update Roast") %>

<% end %>