<h1>All Roasts</h1>

<% @roasts.each do |roast| %>
	<p>Roaster: <%= roast.roaster.name %></p>
	<p>Roast: <%= roast.name %></p>
	<p>Origin: <%= roast.origin %></p>
	<p>Tasting Notes: <%= roast.tasting_notes %></p>
	<p>Preparation Method: <%= roast.prep %></p>
	<p>Price: $<%= roast.price %></p>

<% end %>