<% if @roast.errors.any? %>
	<h3>Errors:</h3>
    <ul>
    	<% @roast.errors.full_messages.each do |message| %>
			<li><%= message %></li>
    	<% end %>
    </ul>

<% end %>

<%= form_for(@roast) do |f| %>
	<%= f.label :name, "Roast" %>
	<%= f.text_field :name %></br>
	<%= f.label :origin, "Origin" %>
	<%= f.text_field :origin %></br>
	<%= f.label :tasting_notes, "Tasting Notes" %>
	<%= f.text_area :tasting_notes %></br>
	<%= f.label :preparation_method, "Suggested Preparation Method" %>
	<%= f.text_field :preparation_method %></br>
	<%= f.label :price, "Price" %>
	<%= f.text_field :price %></br>
	<%= f.label :roasted_date, "Roasted Date" %>
	<%= f.date_select :roasted_date %></br>
	<%= f.label :roaster, "Roaster" %>
	<% if !@roast.roaster_id.nil? %>
		<%= f.text_field :roaster, value: "#{@roast.roaster.name}" %></br>
	<% else %>
		<%= f.text_field :roaster %></br>
	<% end %>
	</br>
	<%= f.button("Create Roast") %>

<% end %>
<br>
<a href="<%= roasts_path %>">Back</a>