    <!-- content -->
<div class="container" role="main">
  <p id="notice"></p>

  <div>

    <div class="info">
      <p><strong>Roaster:</strong> <%= @roast.roaster.name %></p>
      <p><strong>Roast:</strong> <%= @roast.name %></p>
      <p><strong>Origin:</strong> <%= @roast.origin %></p>
      <p><strong>Tasting Notes:</strong> <%= @roast.tasting_notes %></p>
      <p><strong>Suggested Preparation Method:</strong> <%= @roast.preparation_method %></p>
      <p><strong>Roasted Date:</strong> <%= @roast.roasted_date %></p>
      <p><strong>Price:</strong> $<%= @roast.price %></p>
    </div>
  </div>
</div>

<a href="<%= edit_roast_path(@roast) %>">Edit</a>
<a href="<%= roasts_path %>">Back</a>