    <!-- content -->
<div class="container" role="main">
  <p id="notice"></p>

  <div>

    <div class="info">
      <p><strong>Roaster:</strong> <%= @roast.roaster.name %></p>
      <p><strong>Roast:</strong> <%= @roast.name %></p>
      <p><strong>Origin:</strong> <%= @roast.origin %></p>
      <p><strong>Tasting Notes:</strong> <%= @roast.tasting_notes %></p>
      <p><strong>Suggested Preparation Method:</strong> <%= @roast.preparation_method %></p>
      <p><strong>Roasted Date:</strong> <%= @roast.roasted_date %></p>
      <p><strong>Price:</strong> $<%= @roast.price %></p>

      <%= form_for(@purchase) do |f|%>
      <%= f.hidden_field(:user_id) %>
      <%= f.hidden_field(:roast_id) %>
      <%= f.label :payment_type, "Payment Type" %><br>
      <%= f.text_field :payment_type, placeholder: "Enter Cash or Card" %><br>
      <br>
      <input type="submit" value="Buy Now">
      <% end %>
    </div>
  </div>
</div>

<% if @user.admin? %>
  <a href="<%= edit_roast_path(@roast) %>">Edit</a>
<% end %>

<a href="<%= roasts_path %>">Back</a>