<p><%= @roast.roaster.name %></p>
<p><%= @roast.name %></p>
<p><%= @roast.origin %></p>
<p><%= @roast.tasting_notes %></p>
<p><%= @roast.prep %></p>
<p><%= @roast.price %></p>

<a href="<%= edit_roast_path(@roast) %>">Edit</a>
<a href="<%= roasts_path %>">Back</a>