<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
      <a class="active" href="<%= root_path %>">Home</a>
      
      <% if !session[:user_id].present? %>
        <a href="<%= new_user_path %>">Sign Up</a>
        <a href="<%= login_path %>">Login</a>
      <% else %>
        <a href="<%= user_path(@user) %>"><%= @user.name %>'s Profile</a>
        <a href="<%= logout_path %>">Logout</a>
      <% end %>
    </div>

    <div class="container"  role="main">
      <%= yield %>
    </div>
  </body>
</html>
